.fl-builder-block-module {
    width: 50%;
    margin: 0;
    float: left;
    height: 80px;
    text-align: center;
}

.fl-builder-block-module[data-type="audio"]:before {
	font-family: FontAwesome;
	content: "\f028";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="button"]:before {
	font-family: FontAwesome;
	content: "\f096";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="html"]:before {
	font-family: FontAwesome;
	content: "\f121";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="heading"]:before {
	font-family: FontAwesome;
	content: "\f1dc";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="photo"]:before {
	font-family: FontAwesome;
	content: "\f03e";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="separator"]:before {
	font-family: FontAwesome;
	content: "\f07e";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="rich-text"]:before {
	font-family: FontAwesome;
	content: "\f031";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="video"]:before {
	font-family: FontAwesome;
	content: "\f03d";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="accordion"]:before {
	font-family: FontAwesome;
	content: "\f00b";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="cta"]:before {
	font-family: FontAwesome;
	content: "\f045";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="callout"]:before {
	font-family: FontAwesome;
	content: "\f0a1";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="contact-form"]:before {
	font-family: FontAwesome;
	content: "\f003";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="content-slider"]:before {
	font-family: FontAwesome;
	content: "\f1de";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="countdown"]:before {
	font-family: FontAwesome;
	content: "\f163";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="gallery"]:before {
	font-family: FontAwesome;
	content: "\f03e";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="icon"]:before {
	font-family: FontAwesome;
	content: "\f069";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="icon-group"]:before {
	font-family: FontAwesome;
	content: "\f069 \f069";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="map"]:before {
	font-family: FontAwesome;
	content: "\f278";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="menu"]:before {
	font-family: FontAwesome;
	content: "\f0c9";
	font-size: 32px;	
	line-height: 32px;
    display: block;
}

.fl-builder-block-module[data-type="numbers"]:before {
	font-family: FontAwesome;
	content: "\f162";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="post-grid"]:before {
	font-family: FontAwesome;
	content: "\f009";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="post-carousel"]:before {
	font-family: FontAwesome;
	content: "\f17a";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="post-slider"]:before {
	font-family: FontAwesome;
	content: "\f1de";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="pricing-table"]:before {
	font-family: FontAwesome;
	content: "\f0ce";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="sidebar"]:before {
	font-family: FontAwesome;
	content: "\f233";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="slideshow"]:before {
	font-family: FontAwesome;
	content: "\f03e \f03e";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="social-buttons"]:before {
	font-family: FontAwesome;
	content: "\f082 \f081";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="subscribe-form"]:before {
	font-family: FontAwesome;
	content: "\f090";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="tabs"]:before {
	font-family: FontAwesome;
	content: "\f133";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 

.fl-builder-block-module[data-type="testimonials"]:before {
	font-family: FontAwesome;
	content: "\f0e6";
	font-size: 32px;	
	line-height: 32px;
    display: block;
} 